@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/Proxima-Nova-Font.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
}

.section-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 120px;
  background-color: #ffff;
}

.logo {
  object-fit: cover;
  width: 140px;
  height: 37.59px;
}

.section-menu {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.section-arrow {
  display: flex;
  gap: 8px;
  align-items: center; 
}

.arrow {
  justify-content: space-between;
  height: 24px;
  width: 24px;
  gap: 2px;
}

.avatar {
  width: 40px;
  height: 40px;
  padding: 16px;
  gap: 10px
}

.text-1 {
  color: #6C6C6C;
  size: 16px;
  font-weight: 400;
  letter-spacing: -0.42px;
}

.principal-banner {
  display: flex;
  background-image: url('./assets/img-principal-banner.png');
  margin: 0;
  padding: 80px 0px 40px 120px;
  background-repeat: no-repeat;
}

.section-banner {
  display: flex;
  flex-direction: column;
  width: 516px;
}

.banner-title {
  margin: 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -0.42px;
  color: #FFFFFF;
  padding-bottom: 16px;
}

.banner-text {
  margin: 0;
  font-weight: 600;
  font-size: 23px;
  line-height: 24px;
  letter-spacing: -0.42px;
  color: #FFFFFF;
  margin-bottom: 22px;
 text-align: justify;
}

.label-text {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.42px;
  color: #FFFFFF;
  gap: 8px;
}

.banner-input-1 {
  width: 328px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #B0B0B0;
  padding: 10px 16px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.banner-button {
  color: #FFFFFF;
  background-color: #0060D0;
  width: 155px;
  height: 48px;
  border-radius: 8px;
  padding: 10px 16px;
  border: none;
}

.section-dividing-title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-dividing-title {
  width: 789px;
  border-bottom: 1px solid #D9D9D9;
}

.section-text-title {
  font-size: 29px;
  text-align: center;
  font-weight: 600;
  color: #0A0080;
}

.text-cards-options {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #0A0080;
  text-align: center;
}

.div-cards-options {
  display: flex;
  justify-content: space-around;
}

.american-express {
  margin: 0;
}

.section-second-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div-signo-pesos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #FFFFFF;
}

.div-second-banner {
  display: flex;
  width: 996px;
  height: 196px;
  border-radius: 24px;
  padding: 40px;
  background-color: #0A0080;
}

.title-second-banner {
  color: #FFFFFF;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

.text-one-second-banner {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.text-two-second-banner {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
}

.text-three-second-banner {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-weight: 700;
}